<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gary.chemmaster">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.CYLChemApplication"
        android:allowBackup="true"
        android:icon="@mipmap/chemmaster"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"

        >
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ShowPicListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SavedListActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>